
@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');

body {
  text-align: center;
  background-color: #DFD0EA;
  font-family: 'Eagle Lake', cursive;
}

.h5 {
  color: #4C166E;
}

.Fabia {
  margin-top: 50px;
}

@fontface {
font-family: 'Eagle Lake', cursive;
src: url('https://fonts.googleapis.com/css?family=Eagle+Lake');
}
